{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="description" content="Arjun Gupta Profile: Web Developer, Mobile Application Developer and  Competetive Programmer." />
  <meta name="keywords" content="Web-Developer, Android, IOS, Programmer, Coding, Github,Django,  Resume, jquery, css3, bootstrap" />
  <meta name="author" content="arjun gupta" />

  <title>{% block title %}{% endblock title %} - Arjun Gupta Resume</title>

  <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/normalize.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/animate.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/transition-animations.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "css/main-red.css" %}" type="text/css">
  <link rel="stylesheet" href="{% static "preview/lmpixels-demo-panel.css" %}" type="text/css">
  <script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
  <script src="{% static "js/modernizr.custom.js" %}"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>

</head>

<body class="material-template">
  <div class="wrapper">

    {% include "header.html" %} {% block content %} {% endblock content %} {% include "footer.html" %}

  </div>

  <script type="text/javascript" src="{% static "js/pages-switcher.js" %}"></script>
  <script type="text/javascript" src="{% static "js/imagesloaded.pkgd.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/validator.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.shuffle.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/masonry.pkgd.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/owl.carousel.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.magnific-popup.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.hoverdir.js" %}"></script>
  <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx-29Yh0LpLpZ6g3-RvGiSoVN2KAG4eKA"></script> -->
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx-29Yh0LpLpZ6g3-RvGiSoVN2KAG4eKA&callback=initMap">
  </script>
  <script type="text/javascript" src="{% static "js/jquery.googlemap.js" %}"></script>
  <script type="text/javascript" src="{% static "js/main.js" %}"></script>
  <script src="{% static "preview/lmpixels-demo-panel.js" %}"></script>

</body>

</html>
