{% extends "base.html" %} {% load staticfiles %} {% block title %} Home {% endblock title %} {% block content %}

<div id="page" class="page">
  <!-- Header -->
  <header id="site_header" class="header mobile-menu-hide">
    <div class="header-content">
      <div class="site-title-block mobile-hidden">
        <div class="site-title"><a href="#home">{{profile.name}}</a></div>
      </div>

      <!-- Navigation -->
      <div class="site-nav">
        <!-- Main menu -->
        <ul id="nav" class="site-main-menu">
          <li>
            <a class="pt-trigger" href="#home">Home</a>
            <!-- href value = data-id without # of .pt-page. -->
          </li>
          <li>
            <a class="pt-trigger" href="#resume">Resume</a>
          </li>
          <li>
            <a class="pt-trigger" href="#services">Services</a>
          </li>
          <!-- <li>
            <a class="pt-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li>
            <a class="pt-trigger" href="#blog">Blog</a>
          </li>
          -->
          <li>
            <a class="pt-trigger" href="#contact">Contact</a>
          </li>
        </ul>
        <!-- /Main menu -->
      </div>
      <!-- Navigation -->
    </div>
  </header>
  <!-- /Header -->

  <!-- Mobile Header -->
  <div class="mobile-header mobile-visible">
    <div class="mobile-logo-container">
      <div class="mobile-site-title"><a href="#home">{{profile.name}}</a></div>
    </div>

    <a class="menu-toggle mobile-visible">
          <i class="fa fa-bars"></i>
        </a>
  </div>
  <!-- /Mobile Header -->

  <!-- Main Content -->
  <div id="main" class="site-main">
    <!-- Page changer wrapper -->
    <div class="pt-wrapper">
      <!-- Subpages -->
      <div class="subpages">

        <!-- Home Subpage -->
        <section class="pt-page" data-id="home">
          <div class="section-inner start-page-content">
            <div class="page-header">
              <div class="row">
                <div class="col-sm-4 col-md-4 col-lg-4">
                  <div class="photo">
                    <img src="{{profile.profilePhoto.url}}" alt="image">
                  </div>
                </div>

                <div class="col-sm-8 col-md-8 col-lg-8">
                  <div class="title-block">
                    <h1>{{profile.name}}</h1>
                    <div class="owl-carousel text-rotation">
                      {% for each in subtitle %}
                      <div class="item">
                        <div class="sp-subtitle">{{each.title}}</div>
                      </div>
                      {% endfor %}
                    </div>
                  </div>

                  <div class="social-links">
                    <a target="_blank" href="{{profile.githubLink}}"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="{{profile.facebookLink}}"><i class="fa fa-facebook"></i></a>
                    <a target="_blank" href="{{profile.twitterLink}}"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="{{profile.instagramLink}}"><i class="fa fa-instagram"></i></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="page-content">
              <div class="row">

                <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="about-me">
                    <div class="block-title">
                      <h3>About <span>Me</span></h3>
                    </div>
                    {{profile.content|safe}}
                    {% comment %}
                    <p>• Hello! I’m Arjun Gupta, a hard core Web Developer and a Competetive Programmer as well.</p>
                    <p>• Recently finished Web-Development Internship at <a href="http://www.delhinerds.com/"> Delhinerds Company</a></p>
                    <p>• Have big dreams in mind to start a company of my own.</p> {% endcomment %}
                  </div>
                  <div class="download-resume">
                    <a target="_blank" href="{{profile.resume.url}}" class="btn btn-secondary">Show Resume</a>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6 col-lg-6">
                  <ul class="info-list">
                    <li><span class="title">Age</span><span class="value">:&nbsp; {{profile.age}}</span></li>
                    <li><span class="title">Address</span><span class="value">:&nbsp; {{profile.address}}</span></li>
                    <li><span class="title">Country</span><span class="value">:&nbsp; {{profile.country.name}}</span></li>
                    <li><span class="title">Contact</span><span class="value">:&nbsp; {{profile.phone}}</span></li>
                    <li><span class="title">E-mail</span><span class="value"><a href="mailto:{{profile.email}}">: &nbsp;{{profile.email}}</a></span></li>
                    <li><span class="title">Freelance</span><span class="value available">:&nbsp; {{profile.freelance}}</span></li>
                  </ul>
                </div>

              </div>
            </div>
          </div>
        </section>
        <!-- End of Home Subpage -->

        <!-- Resume Subpage -->
        <section class="pt-page" data-id="resume">
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>Resume</h2>
            </div>
            <div class="page-content">

              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                  {% for each in timelines %} {% if each.category.title == "Training" %}
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    {% else %}
                    <div class="col-sm-12 col-md-6 col-lg-6">
                      {% endif %}

                      <div class="block">
                        <div class="block-title">
                          <h3>{{each.category.title}}</h3>
                        </div>
                        <div class="timeline">
                          {% for item in each.timeline %}
                          <div class="timeline-item">
                            <h4 class="item-title">{{item.title}}</h4>
                            <span class="item-period">{{item.period}}</span>
                            <span class="item-small">{{item.place}}</span>
                            <p class="item-description">{{item.description}}</p>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="block">
                      <div class="center download-resume">
                        <a target="_blank" href="{{profile.resume.url}}" class="btn btn-secondary">Show Resume</a>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
        </section>


        <!-- Services Subpage -->
        <section class="pt-page" data-id="services">
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>Services</h2>
            </div>
            <div class="page-content">
              <!-- My Services -->
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="block-title">
                    <h3>My <span>Services</span></h3>
                  </div>
                </div>

                {% for each in services %}
                <div class="col-sm-6 col-md-6">
                  <div class="service-block">
                    <div class="service-info">
                      <!--<i class="service-icon fa fa-shopping-cart"></i>-->
                      <div class="service-image">
                        <img src="{{each.photo.url}}" alt="Responsive Design" class="mCS_img_loaded">
                      </div>
                      <h4>{{each.title}}</h4>
                      <p>{{each.description}}</p>
                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
              {% comment %}
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="block-title">
                    <h3>Clients</h3>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="{% static "images/clients/client_1.png" %}" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="{% static "images/clients/client_2.png" %}" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="{% static "images/clients/client_3.png" %}" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="{% static "images/clients/client_4.png" %}" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="{% static "images/clients/client_5.png" %}" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                  <div class="col-sm-4 col-md-2 subpage-block">
                    <div class="client-block">
                      <a href="#" target="_blank"><img src="{% static "images/clients/client_6.png" %}" alt="image" class="mCS_img_loaded"></a>
                    </div>
                  </div>

                </div>
              </div>




              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="block-title">
                    <h3>Testimonials</h3>
                  </div>


                  <div class="testimonials owl-carousel block">
                    <!-- Testimonial 1 -->
                    <div class="testimonial-item">
                      <!-- Testimonial Author -->
                      <div class="testimonial-credits">
                        <!-- Picture -->
                        <div class="testimonial-picture">
                          <img src="{% static " images/testimonials/testimonial_photo_1.jpg " %}" alt="">
                        </div>
                        <!-- /Picture -->
                        <!-- Testimonial author information -->
                        <div class="testimonial-author-info">
                          <p class="testimonial-author">Maria Richardson</p>
                          <p class="testimonial-firm">Lindsley's Lumber</p>
                        </div>
                      </div>
                      <!-- /Testimonial author information -->
                      <!-- Testimonial Content -->
                      <div class="testimonial-content">
                        <div class="testimonial-text">
                          <p>"Phasellus eu nunc tincidunt, ultricies elit vitae, pretium eros. Sed sed ipsum sed massa."</p>
                        </div>
                      </div>
                      <!-- /Testimonial Content -->
                    </div>
                    <!-- End of Testimonial 1 -->

                    <!-- Testimonial 2 -->
                    <div class="testimonial-item">
                      <!-- Testimonial Author -->
                      <div class="testimonial-credits">
                        <!-- Picture -->
                        <div class="testimonial-picture">
                          <img src="{% static " images/testimonials/testimonial_photo_2.jpg " %}" alt="">
                        </div>
                        <!-- /Picture -->
                        <!-- Testimonial author information -->
                        <div class="testimonial-author-info">
                          <p class="testimonial-author">John Doe</p>
                          <p class="testimonial-firm">Apple Inc.</p>
                        </div>
                      </div>
                      <!-- /Testimonial author information -->
                      <!-- Testimonial Content -->
                      <div class="testimonial-content">
                        <div class="testimonial-text">
                          <p>"Vivamus porta dapibus tristique. Suspendisse et arcu eget nisi convallis eleifend nec ac lorem.</p>
                        </div>
                      </div>
                      <!-- /Testimonial Content -->
                    </div>
                    <!-- End of Testimonial 2 -->

                    <!-- Testimonial 3 -->
                    <div class="testimonial-item">
                      <!-- Testimonial Author -->
                      <div class="testimonial-credits">
                        <!-- Picture -->
                        <div class="testimonial-picture">
                          <img src="{% static " images/testimonials/testimonial_photo_3.jpg " %}" alt="">
                        </div>
                        <!-- /Picture -->
                        <!-- Testimonial author information -->
                        <div class="testimonial-author-info">
                          <p class="testimonial-author">George McQueen</p>
                          <p class="testimonial-firm">Harmony House</p>
                        </div>
                      </div>
                      <!-- /Testimonial author information -->
                      <!-- Testimonial Content -->
                      <div class="testimonial-content">
                        <div class="testimonial-text">
                          <p>"Aliquam congue auctor lectus sed fermentum. Nulla ultricies tellus quis sapien lacinia egestas."</p>
                        </div>
                      </div>
                      <!-- /Testimonial Content -->
                    </div>
                    <!-- End of Testimonial 3 -->
                  </div>
                </div>
              </div>

              <!-- Pricing -->
              <div class="row">
                <div class="col-sm-12 col-md-12">
                  <div class="block-title">
                    <h3>Pricing</h3>
                  </div>

                  <div class="lm-pricing row clearfix">
                    <div class="lm-package-wrap col-md-4 default-col">
                      <div class="lm-package">
                        <div class="lm-heading-row">
                          <span>Plan 1</span>
                        </div>
                        <div class="lm-pricing-row">
                          <span>$64</span>
                          <small>per month</small>
                        </div>

                        <div class="lm-button-row">
                          <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                        </div>
                        <div class="lm-default-row">
                          Lorem ipsum dolor
                        </div>
                        <div class="lm-default-row">
                          Pellentesque scelerisque
                        </div>
                        <div class="lm-default-row">
                          Morbi eu sagittis
                        </div>
                        <div class="lm-default-row">
                        </div>
                      </div>
                    </div>

                    <div class="lm-package-wrap col-md-4 highlight-col ">
                      <div class="lm-package">
                        <div class="lm-heading-row">
                          <span>Plan 2</span>
                        </div>
                        <div class="lm-pricing-row">
                          <span>$128</span>
                          <small>per month</small>
                        </div>

                        <div class="lm-button-row">
                          <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                        </div>
                        <div class="lm-default-row">
                          Lorem ipsum dolor
                        </div>
                        <div class="lm-default-row">
                          Pellentesque scelerisque
                        </div>
                        <div class="lm-default-row">
                          Morbi eu sagittis
                        </div>
                        <div class="lm-default-row">
                          Donec non diam
                        </div>
                        <div class="lm-default-row">
                        </div>
                      </div>
                    </div>

                    <div class="lm-package-wrap col-md-4 default-col ">
                      <div class="lm-package">
                        <div class="lm-heading-row">
                          <span>Plan 3</span>
                        </div>

                        <div class="lm-pricing-row">
                          <span>$256</span>
                          <small>per month</small>
                        </div>

                        <div class="lm-button-row">
                          <a href="#" target="_self" class="btn btn-primary">Free Trial</a>
                        </div>

                        <div class="lm-default-row">
                          Lorem ipsum dolor
                        </div>
                        <div class="lm-default-row">
                          Pellentesque scelerisque
                        </div>
                        <div class="lm-default-row">
                          Morbi eu sagittis
                        </div>
                        <div class="lm-default-row">
                          Donec non diam
                        </div>
                        <div class="lm-default-row">
                          Aenean nec libero
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {% endcomment %}
              <!-- End of Pricing -->
            </div>
          </div>
        </section>
        <!-- End of Services Subpage -->

        {% comment %}

        <!-- Portfolio Subpage -->
        <section class="pt-page" data-id="portfolio">
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>Portfolio</h2>
            </div>
            <div class="page-content">

              <!-- Portfolio Content -->
              <div class="portfolio-content">

                <!-- Portfolio filter -->
                <ul id="portfolio_filters" class="portfolio-filters">
                  <li class="active">
                    <a class="filter btn btn-sm btn-link active" data-group="all">All</a>
                  </li>
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="media">Media</a>
                  </li>
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="illustration">Illustration</a>
                  </li>
                  <li>
                    <a class="filter btn btn-sm btn-link" data-group="video">Video</a>
                  </li>
                </ul>
                <!-- End of Portfolio filter -->

                <!-- Portfolio Grid -->
                <div id="portfolio_grid" class="portfolio-grid portfolio-masonry masonry-grid-3">

                  <!-- Portfolio Item 1 -->
                  <figure class="item" data-groups='["all", "media"]'>
                    <a class="ajax-page-load" href="portfolio-1.html">
                          <img src="{% static "images/portfolio/1.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Media</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 1 -->

                  <!-- Portfolio Item 2 -->
                  <figure class="item" data-groups='["all", "video"]'>
                    <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Praesent Dolor Ex" class="lightbox mfp-iframe">
                          <img src="{% static "images/portfolio/2.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Video</small>
                            <i class="fa fa-video-camera"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 2 -->

                  <!-- Portfolio Item 3 -->
                  <figure class="item" data-groups='["all","illustration"]'>
                    <a href="{% static " images/portfolio/full/3.jpg " %}" class="lightbox" title="Duis Eu Eros Viverra">
                          <img src="{% static "images/portfolio/3.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Illustration</small>
                            <i class="fa fa-image"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 3 -->

                  <!-- Portfolio Item 4 -->
                  <figure class="item" data-groups='["all", "media"]'>
                    <a class="ajax-page-load" href="portfolio-2.html">
                          <img src="{% static "images/portfolio/4.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Media</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 4 -->

                  <!-- Portfolio Item 5 -->
                  <figure class="item" data-groups='["all", "illustration"]'>
                    <a href="{% static " images/portfolio/full/5.jpg " %}" class="lightbox" title="Aliquam Condimentum Magna Rhoncus">
                          <img src="{% static "images/portfolio/5.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Illustration</small>
                            <i class="fa fa-image"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 5 -->

                  <!-- Portfolio Item 6 -->
                  <figure class="item" data-groups='["all", "media"]'>
                    <a class="ajax-page-load" href="portfolio-3.html">
                          <img src="{% static "images/portfolio/6.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Media</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 6 -->

                  <!-- Portfolio Item 7 -->
                  <figure class="item" data-groups='["all", "video"]'>
                    <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Nulla Facilisi" class="lightbox mfp-iframe">
                          <img src="{% static "images/portfolio/7.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Video</small>
                            <i class="fa fa-video-camera"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 7 -->

                  <!-- Portfolio Item 8 -->
                  <figure class="item" data-groups='["all",  "media"]'>
                    <a class="ajax-page-load" href="portfolio-4.html">
                          <img src="{% static "images/portfolio/8.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Media</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 8 -->

                  <!-- Portfolio Item 9 -->
                  <figure class="item" data-groups='["all","illustration"]'>
                    <a href="{% static " images/portfolio/full/9.jpg " %}" class="lightbox" title="Mauris Neque Dolor">
                          <img src="{% static "images/portfolio/9.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Illustration</small>
                            <i class="fa fa-image"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 9 -->

                  <!-- Portfolio Item 10 -->
                  <figure class="item" data-groups='["all", "video"]'>
                    <a href="https://player.vimeo.com/video/97102654?autoplay=1" title="Donec Lectus Arcu" class="lightbox mfp-iframe">
                          <img src="{% static "images/portfolio/10.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Video</small>
                            <i class="fa fa-video-camera"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 10 -->

                  <!-- Portfolio Item 11 -->
                  <figure class="item" data-groups='["all","illustration"]'>
                    <a href="{% static " images/portfolio/full/11.jpg " %}" class="lightbox" title="Duis Eu Eros Viverra">
                          <img src="{% static "images/portfolio/11.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Illustration</small>
                            <i class="fa fa-image"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 11 -->

                  <!-- Portfolio Item 12 -->
                  <figure class="item" data-groups='["all","media"]'>
                    <a class="ajax-page-load" href="portfolio-5.html">
                          <img src="{% static "images/portfolio/12.jpg" %}" alt="">
                          <div>
                            <h5 class="name">Project Name</h5>
                            <small>Media</small>
                            <i class="fa fa-file-text-o"></i>
                          </div>
                        </a>
                  </figure>
                  <!-- /Portfolio Item 12 -->
                </div>
                <!-- /Portfolio Grid -->

              </div>
              <!-- /Portfolio Content -->
            </div>
          </div>
        </section>
        <!-- /Portfolio Subpage -->

        {% endcomment %} {% comment %}
        <section class="pt-page" data-id="blog">
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>Blog</h2>
            </div>
            <div class="page-content">

              <!-- Blog Posts Grid -->
              <div class="blog-masonry two-columns">
                <!-- Blog Post 1 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_1.jpg" %}" alt="blog-post-1" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">6</span><span class="month">Dec</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">Travel</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Bootstrap is the Most Popular Framework</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 1 -->

                <!-- Blog Post 2 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_2.jpg" %}" alt="blog-post-2" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">3</span><span class="month">Nov</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">jQuery</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">One Framework, Every Device</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 2 -->

                <!-- Blog Post 3 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_3.jpg" %}" alt="blog-post-3" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">12</span><span class="month">Oct</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">Sport</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Designed for Everyone, Everywhere</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 3 -->

                <!-- Blog Post 4 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_4.jpg" %}" alt="blog-post-4" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">18</span><span class="month">Aug</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">CSS</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">An Introduction To PostCSS</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 4 -->

                <!-- Blog Post 5 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_5.jpg" %}" alt="blog-post-5" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">2</span><span class="month">Jul</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">CSS3</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Original and Innovative Web Layouts</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 5 -->

                <!-- Blog Post 6 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_6.jpg" %}" alt="blog-post-6" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">8</span><span class="month">May</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">HTML5</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Creative and Innovative Navigation Designs</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 6 -->

                <!-- Blog Post 7 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_7.jpg" %}" alt="blog-post-7" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">7</span><span class="month">Apr</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">Design</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Navigation for Mega-Sites</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 7 -->

                <!-- Blog Post 8 -->
                <div class="item">
                  <div class="blog-card">
                    <div class="media-block">
                      <a href="blog-post-1.html">
                            <img class="post-image img-responsive" src="{% static "images/blog/blog_post_8.jpg" %}" alt="blog-post-8" />
                            <div class="mask"></div>
                            <div class="post-date"><span class="day">21</span><span class="month">Mar</span><!--<span class="year">2016</span>--></div>
                          </a>
                    </div>
                    <div class="post-info">
                      <ul class="category">
                        <li><a href="#">CSS3</a></li>
                      </ul>
                      <a href="blog-post-1.html"><h4 class="blog-item-title">Front-End Challenge Accepted: CSS 3D Cube</h4></a>
                    </div>
                  </div>
                </div>
                <!-- End of Blog Post 8 -->
              </div>
              <!-- Blog Posts Grid -->
            </div>
          </div>
        </section>
        {% endcomment %}

        <!-- Contact Subpage -->
        <section class="pt-page" data-id="contact">
          <div class="section-inner custom-page-content">
            <div class="page-header color-1">
              <h2>Contact</h2>
            </div>
            <div class="page-content">

              <div class="row">
                <div class="col-sm-6 col-md-6">
                  <div class="block-title">
                    <h3>Get in <span>Touch</span></h3>
                  </div>
                  <!-- Google Map -->
                  <div id="map" class="map"></div>
                  <!-- End of Google Map -->
                  <div id="map"></div>
                  <script>
                    var lat = {{profile.lat}};
                    var lon = {{profile.lon}};
                    function initMap() {
                      var myLatLng = {lat: parseFloat(lat), lng: parseFloat(lon)};
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 15,
                        center: myLatLng
                      });
                      var marker = new google.maps.Marker({
                        position: myLatLng,
                        map: map,
                        title: 'I AM HERE!!!'
                      });

                    }

                  </script>


                  <div class="contact-info-block">
                    <div class="ci-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="ci-text">
                      <h5>{{profile.address}}</h5>
                    </div>
                  </div>
                  <div class="contact-info-block">
                    <div class="ci-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <div class="ci-text">
                      <h5>{{profile.email}}</h5>
                    </div>
                  </div>
                  <div class="contact-info-block">
                    <div class="ci-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <div class="ci-text">
                      <h5>{{profile.phone}}</h5>
                    </div>
                  </div>
                  <div class="contact-info-block">
                    <div class="ci-icon">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="ci-text">
                      <h5>{{profile.freelance}}</h5>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-6">
                  <div class="block-title">
                    <h3>Contact <span>Form</span></h3>
                  </div>
                  <script>
                    var url = "{% url "app:message" %}";
                  </script>
                  <form id="contact-form" method="post" action="#">
                    {% csrf_token %}
                    <div class="messages"></div>
                    <div class="controls">
                      <div class="form-group form-group-with-icon">
                        <i class="fa fa-user"></i>
                        <label>Full Name</label>
                        <input id="form_name" type="text" name="name" class="form-control" placeholder required="required" data-error="Name is required.">
                        <div class="form-control-border"></div>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="form-group form-group-with-icon">
                        <i class="fa fa-envelope"></i>
                        <label>Email Address</label>
                        <input id="form_email" type="email" name="email" class="form-control" placeholder required="required" data-error="Valid email is required.">
                        <div class="form-control-border"></div>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="form-group form-group-with-icon">
                        <i class="fa fa-comment"></i>
                        <label>Message for Me</label>
                        <textarea id="form_message" name="message" class="form-control" placeholder rows="4" required="required" data-error="Please, leave me a message."></textarea>
                        <div class="form-control-border"></div>
                        <div class="help-block with-errors"></div>
                      </div>

                      <div class="g-recaptcha" data-sitekey="6LdqmCAUAAAAAMMNEZvn6g4W5e0or2sZmAVpxVqI"></div>

                      <input type="submit" class="button btn-send" value="Send message">
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- End Contact Subpage -->

        </div>
      </div>
      <!-- /Page changer wrapper -->
    </div>
    <!-- /Main Content -->
  </div>
  {% endblock content %}
